# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\REPOSITORIO JAVASCRIPT TO GITHUB\hot_coffee_animation_css\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
